// BEGIN TREEVIEW //

.k-treeview {
  &:focus {
    outline: none;
  }

  .k-group {
    margin: 0;
    padding: 0;

    list-style: none;

    .k-group {
      .k-item {
        padding-left: 2.4rem;

        &[aria-expanded="true"]:before {
          left: 6px;
        }
      }
    }
  }

  .k-item {
    position: relative;

    padding: 0 .8rem 0 3.2rem;

    &[aria-expanded="true"] {
      &:before {
        content: "";
        display: block;

        position: absolute;
        top: 28px;
        left: 14px;

        width: 0;
        height: calc(100% - 44px);

        border-left: 1px dashed $color-light-l04;
      }
    }

    .k-top,
    .k-mid,
    .k-bot {
      display: flex;
      align-items: center;
      position: relative;
    }

    .k-icon {
      display: block;

      position: absolute;
      top: .8rem;
      left: -2.4rem;

      width: 1.2rem;
      height: 1.2rem;

      text-align: center;

      &:hover {
        cursor: pointer;
      }

      &:before {
        @include icon-moon(1.2rem);

        color: $color-dark-d16;
      }

      &.k-i-collapse:before {
        content: "\e996";
      }

      &.k-i-expand:before {
        content: "\e995";
      }
    }

    .k-checkbox-wrapper {
      margin-right: .8rem;
    }

    .k-in {
      display: block;

      padding: .8rem 0;

      font-size: 1.6rem;
      line-height: 1.25;

      color: $color-grey-d20;
    }
  }
}

// END TREEVIEW //
