// BEGIN LIST //

.list-default,
.list-grey {
  margin: 0;
  padding: 0 0 0 1.6rem;

  li {
    line-height: 1.4285714286;
  }
}


.list-default {
  li {
    + li {
      margin-top: .4rem;
    }
  }

  &.item-mt-12 {
    li + li {
      margin-top: 1.2rem;
    }
  }
}

.list-grey {
  li {
    line-height: 1.4285714286;

    color: $color-grey-n0;

    + li {
      margin-top: 1.6rem;
    }
  }
}

// END LIST //
