
// BEGIN ACTIONS BAR //

.action-bar-container {
  position: fixed;
  right: 2rem;
  bottom: 0;
  z-index: 9999;

  min-width: 20.5rem;
  height: 6rem;
  padding: 0 3rem 0 0;

  @include border-top-radius($border-radius-sm);

  .col,
  .exp {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 3rem;
    height: 3rem;

    font-size: 0;

    background-color: $color-gray-darker;
    border: none;
    border-top-right-radius: $border-radius-sm;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      outline: none;
    }

    &:after {
      content: '';

      display: block;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border-top-right-radius: $border-radius-sm;
      background-color: fade-out($color-black, .8);
    }
  }

  .col {
    transition: bottom ease .1s;

    &:before {
      content: '';

      display: block;

      position: absolute;
      top: 50%;
      left: 50%;

      width: 1rem;
      height: 1px;

      background-color: $color-silver;

      transform: translateX(-50%) translateY(-50%);
    }

    &:hover,
    &:active,
    &:focus {
      &:before {
        background-color: $color-white;
      }
    }
  }

  .exp {
    &:before {
      content: '\e905';

      display: block;

      position: absolute;
      top: 50%;
      left: 50%;

      @include icon-moon(1.2rem);

      color: $color-silver;

      transform: translateX(-50%) translateY(-50%);
    }

    &:hover,
    &:active,
    &:focus {
      &:before {
        color: $color-white;
      }
    }
  }

  &.open {
    min-width: 0;

      .action-bar-title {
        z-index: -1;

        visibility: hidden;

        transform: translateX(30px);
      }

      .action-bar-toggle {
        height: 6rem;
      }

      .exp {
        display: none;
      }

      .col{
        bottom: 3rem;
      }

      .action-bar {
        visibility: visible;

        transition: transform ease-in-out .1s;
        transform: translateX(0%);
      }
  }
}

.action-bar-title {
  visibility: visible;

  position: absolute;
  right: 3rem;
  bottom: 0;

  width: 17.5rem;
  margin: 0;
  padding: 0 1rem;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  color: $color-silver;
  border-top-left-radius: $border-radius-sm;
  background-color: $color-nav-bg;

  cursor: pointer;

  transform: translateX(0);
  transition: transform ease .1s;
}

.action-bar-toggle {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 3rem;
  height: 3rem;

  transition: transform ease .1s;

  border-top-right-radius: $border-radius-sm;
  background-color: $color-nav-bg;

  &:before {
    display: block;

    position:absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background-color: fade-out($color-black, .8);
    border-top-right-radius: $border-radius-sm;

    content: '';
  }
}

.action-bar {
  visibility: hidden;

  height: 6rem;
  padding: 0;

  border-top-left-radius: 0.5rem;
  background-color: $color-nav-bg;

  transform: translateX(130%);
  transition: transform ease-in-out .1s;
}

.action-bar-item {
  float: left;

  position: relative;

  height: 100%;

  list-style-type: none;

  &:hover,
  &:focus,
  &:active {
    background-color: fade-out($color-white, .9);

    .btn,
    .btn [class^="icon-"],
    .btn [class*=" icon-"] {
      color: $color-white;
    }
  }

  .btn {
    display: block;

    position: relative;

    height: 100%;
    padding: 1rem 2rem;

    font-size: 1.2rem;
    text-align: center;

    color: $color-silver;
    background-color: transparent;
    border: none;

    transition: none;

    [class^="icon-"],
    [class*=" icon-"] {
      display: block;

      min-height: 2.4rem;
      margin-right: 0;
      padding-bottom: .3rem;

      font-size: 2.4rem;

      color: $color-gray-lighter;
    }

    .bubble {
      display: block;

      position: absolute;
      top: 1rem;
      left: 50%;

      width: .5rem;
      height: .5rem;
      margin-left: 1rem;

      background-color: $color-red-n0;
      border-radius: 50%;
    }
  }
}

// END ACTIONS BAR



// BEGIN POPOVER //

.ab-alert-container,
.ab-errors-container {
  max-height: 45rem;

  overflow: hidden;

  ul {
    padding: 0;
    margin: 0;

    list-style: none;
  }

  .btn-link {
    margin-left: auto;
    padding-left: 2rem;

    font-size: 1.4rem;
  }
}

// END POPOVER //




// BEGIN ALERT //

.popover .ab-alert-container {
  padding: 0 0 1rem 0;

  .ab-alert-item {
    position: relative;

    padding: 1.6rem 2rem 2rem 5.2rem;

    &:hover:not(.time) {
      background-color: $color-cloud-darker;
      border-top-color: $color-cloud-darker;

      .btn-link {
        visibility: visible;
      }

      &:after,
      &:before {
        content: '';

        display: block;

        position: absolute;
        left: 0;
        z-index: 2;

        width: 100%;
        height: 1px;

        background-color: $color-cloud-darker;
      }

      &:after {
        bottom: -1px;
      }

      &:before {
        top: -1px;
      }
    }

    + .ab-alert-item:not(.time) {
      border-top: 1px dashed $color-silver-lighter;
    }

    &.time {
      padding: 0;
      margin: 0;

      span{
        display: block;

        padding: 0 2rem;

        font-size: 1.2rem;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;

        color: $color-gray-lighter;
        background-color: $color-cloud-lighter;
      }

      + .ab-alert-item {
        border-top: none;
      }
    }
  }

  .bubble {
    position: absolute;
    left: 2rem;
  }

  .ab-alert-title {
    display: flex;
    align-items: baseline;

    font-size: 1.4rem;

    color: $color-gray-darker;

    .ab-alert-time {
      margin-left: auto;

      font-size: 1.2rem;
      text-align: right;
      white-space: nowrap;

      color: $color-gray-lighter;
    }
  }

  .ab-alert-content {
    display: flex;
    align-items: baseline;

    font-size: 1.4rem;

    color: $color-gray-lighter;

    .btn-link {
      visibility: hidden;
    }
  }
}

// END ALERT //




// BEGIN POPOVER ERROR //

.popover .ab-errors-container {
  padding: 1rem 0;

  .ab-error-item {
    display: flex;
    align-items: baseline;

    position: relative;

    padding: 1.6rem 2rem 1.6rem 5.2rem;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    position: absolute;
    left: 2rem;

    font-size: 2.4rem;

    color: $color-red-n0;
  }

  .ab-error-content {
    font-size: 1.4rem;
    line-height: 1.29;
  }
}

// END POPOVER ERROR //
