// BEGIN GENERAL //

.form-group {
  &:not(.form-group-sm) {
    .form-control-label {
      ~ .form-control {
        padding-top: 2rem;
        padding-bottom: .4rem;

        opacity: 0;
      }
    }

    &.active {
      .form-control-label {
        ~ .form-control {
          opacity: 1;
        }

        ~ textarea.form-control {
          padding-top: 1.6rem;
          padding-bottom: 0;
        }
      }
    }
  }

  &.form-group-sm {
    .form-control {
      height: 2.8rem;

      border-width: 0 1.2rem;
    }

    &.password-field [class^="icon-"] {
      width: 4rem;
      height: 2.8rem;
      
      font-size: 1.6rem;
    }
  }
}

// END GENERAL //




// BEGIN TEXTBOX //

.form-control {
  position: relative;

  width: 100%;
  height: 4.4rem;
  padding: 0;

  font-size: 1.4rem;
  line-height: 1.4285714286;

  background-color: transparent;
  border-color: transparent;
  border-radius: $border-radius-sm;
  border-style: solid;
  border-width: 0 1.6rem;
  box-shadow: none;
  color: $color-grey-d20;

  &:focus {
    background-color: transparent;
    box-shadow: none;
    color: $color-grey-d20;
  }

  &:disabled,
  &.disabled {
    background-color: transparent;
    color: $color-grey-l40;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-text-fill-color: $color-grey-l40;
  }

  &:disabled,
  &[readonly] {
    background-color: transparent;

    opacity: 1;
  }
}

// END TEXTBOX //




// BEGIN TEXTAREA //

textarea {
  resize: none;

  &.resize {
    resize: vertical;
    min-height: 92px;
  }

  &:focus {
    outline: none;
  }

  &.form-control {
    display: block;

    height: 100%;
    height: 9.2rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
    padding: .8rem 1.6rem;
    
    border-width: 0;
  }
}

// END TEXTAREA //




// BEGIN PASSWORD FIELD //

.form-group {
  &.password-field,
  &.search-field {
    display: flex;

    .form-control {
      border-right: 0;
    }

    [class^="icon-"],
    [class*=" icon-"] {
      display: flex !important;
      justify-content: center;
      align-items: center;

      width: 5.2rem;
      height: 4.4rem;

      font-size: 2rem;

      color: $color-grey-l16;

      cursor: pointer;

      &:hover {
        color: $color-blue-n0;
      }
    }

    &.disabled {
      [class^="icon-"],
      [class*=" icon-"] {
        color: $color-grey-l40;

        pointer-events: none;
      }
    }

    &.focus:not(.readonly) {
      [class^="icon-"],
      [class*=" icon-"] {
        color: $color-blue-n0;
      }
    }
  }
}

// END PASSWORD FIELD //




// BEGIN TEXT VIEW //

.form-group-static {
  .form-control-text {
    display: block;

    min-height: 2rem;
    margin: 0;

    font-size: 1.4rem;
    line-height: 1.4285714286;

    word-wrap: break-word;

    &:empty {
      &:before {
        content: '\2014';
        display: inline-block;

        color: $color-grey-l32;
      }
    }
  }

  &.form-group-sm {
    .form-control-text {
      min-height: 1.6rem;

      font-size: 1.2rem;
      line-height: 1.3333333333;
    }

    &.with-sensitive-data {
      input[type='checkbox'] {
        right: .2rem;
        bottom: .2rem;
      }

      .sd-masked,
      .sd-value {
        &:after {
          font-size: 1.6rem;
        }
      }
    }
  }

  &.with-sensitive-data {
    display: inline-block;

    position: relative;

    input[type='checkbox'] {
      position: absolute;
      right: .4rem;
      bottom: .4rem;
      z-index: 2;

      cursor: pointer;

      opacity: 0;

      &:checked {
        ~.sd-masked {
          display: none;
        }

        ~.sd-value {
          display: flex;
        }
      }

      &:hover {
        ~.sd-masked:after,
        ~.sd-value:after {
          color: $color-blue-n0;
        }
      }
    }

    .sd-masked,
    .sd-value {
      display: flex;
      white-space: nowrap;

      &:after {
        display: block;

        margin-left: .8rem;

        @include icon-moon(2rem);

        color: $color-grey-l16;
      }
    }

    .sd-masked:after {
      content: '\e94a';
    }

    .sd-value {
      display: none;

      &:after {
        content: '\e925';
      }
    }
  }
}

// END TEXT VIEW //




// BEGIN TEXTBOX PREFIX-SUFFIX //

@mixin affix-distance($value) {
  .prefix-value{
    margin-right: -$value;
    padding-left: $value;
  }

  .suffix-value {
    margin-left: -$value;
    padding-right: $value;
  }
}

.form-group {
  &.form-with-affix {
    display: flex;
    align-items: center;

    .form-control-label {
      ~ .prefix-value,
      ~ .suffix-value {
        display: none;
      }
    }

    &.active {
      .form-control-label  ~ .prefix-value,
      .form-control-label  ~ .suffix-value {
        padding-top: 2rem;
        padding-bottom: .4rem;

        display: block;
      }
    }

    .prefix-value,
    .suffix-value {
      display: block;
      flex-grow: 1;

      color: $color-grey-l16;
      font-size: 1.4rem;
      line-height: 1.4285714286;

      white-space: nowrap;
    }

    @include affix-distance(1.6rem);

    &.disabled {
      .prefix-value,
      .suffix-value {
        color: $color-grey-l40;
      }
    }

    &.form-group-sm {
      @include affix-distance(1.2rem);
    }
  }
}

// END TEXTBOX PREFIX-SUFFIX //




// BEGIN PIN CODE //

.pincode-input-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  .pincode-input-text {
    width: 4.6rem;
    height: 6.4rem;
    margin-top: 1.6rem;

    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.875;
    text-align: center;

    border: 1px solid $color-light-l12;
    border-radius: $border-radius-md;
    @include box-shadow-raised;

    &:focus {
      border-color: $color-blue-n0;
      box-shadow: 0 0 0 1px $color-blue-n0;
    }

    &:disabled {
      background-color: $color-light-l16;
      box-shadow: none;
    }

    + .pincode-input-text {
      margin-left: .8rem;
    }
  }

  &.error {
    .pincode-input-text {
      border-color: $color-red-n0;

      &:focus {
        box-shadow: 0 0 0 1px $color-red-n0;
      }
    }
  }
}

@media (max-width: 576px) {
  .pincode-input-container {
    flex-wrap: wrap;

    width: 20.8rem;
    margin-left: auto;
    margin-right: auto;

    .pincode-input-text:nth-child(6) {
      margin-left: 0;
    }
  }
}

// END PIN CODE //
