.breadcrumb {
  color: $color-grey-n0;

  &.dropdown {
    &.show {
      display: block;
    }

    .dropdown-menu {
      min-width: 7rem;
    }
  }

  .btn-icon {
    float: left;

    [class^="icon-"], 
    [class*=" icon-"] {

      font-size: 1.2rem;
    }
  }

  .breadcrumb-list {
    list-style: none;

    padding: 0;
    margin: 0;

    .breadcrumb-item {
      font-size: 1.2rem;
      line-height: 1.6rem;

      float: none;

      &:hover,
      &:focus {
        background: $color-light-l16;
        border-radius: .4rem;

        .breadcrumb-item-text {
          color: $color-grey-d20;
        }
      }
    }
  }

  .breadcrumb-item {
    position: relative;

    color: $color-grey-n0;
    font-size: 1.4rem;
    line-height: 2rem;

    display: block;
    float: left;

    padding: 1rem .8rem;
   
    &::before {
      content: '\e979';
      color: #999999;
      font-family: 'icomoon' !important;
      text-align: center;
      line-height: 2rem;

      width: 1.6rem;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }

    &.pre-last-item,
    &.current-item {
      margin: 0 0 0 1.2rem;
      padding: 0 0 0 2.8rem;

      &::before {
        display: block;
      }
    }

    &.current-item {
      font-weight: 500;
    }
  
    .breadcrumb-item-text {
      cursor: pointer;

      display: inline-block;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .breadcrumb {
    .breadcrumb-item {
      &.pre-last-item {
        &:hover,
        &:focus {
          background: none;

          .breadcrumb-item-text {
            color: $color-blue-l08;
            text-decoration: underline;
          }
        }
      }
    } 
  }
}

@media screen and (min-width: 992px) {
  .breadcrumb {
    &.dropdown {
      .dropdown-menu {
        background: transparent;

        position: static !important;

        max-width: 100%;
        padding: 0;

        border: none;
        border-radius: 0;
        box-shadow: none;
  
        display: block;

        transform: none !important;

        float: left;

        &[x-placement^="bottom-"] {
          margin-top: 0;
        }
      }
    }

    .breadcrumb-list {
      .breadcrumb-item {
        font-size: 1.4rem;
        line-height: 2rem;

        display: inline-block;

        &:first-child {
          padding: 0;
      
          &::before {
            display: none;
          }
        }

        &:hover,
        &:focus {
          background: none;

          .breadcrumb-item-text {
            color: $color-blue-l08;
            text-decoration: underline;
          }
        }
      }
    }

    .breadcrumb-item {
      margin: 0 1.2rem 0 0;
      padding: 0 0 0 2.8rem;

      &::before {
        display: block;
      }

      &.pre-last-item,
      &.current-item {
        margin: 0;
      }
    }
  }
}
